In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
data = pd.read_excel('F:\Dataset2.xlsx')

In [24]:
data.head()

   No.      Day Discount Free Delivery Purchase
0    1  Weekday      yes           yes      yes
1    2  Weekday      yes           yes      yes
2    3  Weekday      yes           yes      yes
3    4  Weekday      yes           yes      yes
4    5  Weekday      yes           yes      yes

In [25]:
data.shape

(30, 5)

In [26]:
data['Purchase'].value_counts()

yes    24
no      6
Name: Purchase, dtype: int64

In [27]:
Pyes = 24/30
Pno = 6/30

In [69]:
print (Pyes)

0.8

In [70]:
print (Pno)

0.2

In [31]:
pd.crosstab(data['Day'], data['Purchase'])

Purchase  no  yes
Day
Holiday    3    8
Weekday    2    9
Weekend    1    7

In [33]:
PHolidayNo = 3/6
PWeekdayNo = 2/6
PWeekendNo = 1/6

PHolidayYes = 8/24
PweekdayYes = 9/24
PWeekendYes = 7/24

PHoliday = 11/30
PWeekday = 11/30
PWeekend = 8/30

print(PweekdayYes)

0.375

In [34]:
# P (A|B) ?
# P (B) = PWeekday
# P (A) = No Buy
# P (B|A) = PWeekday|NoBuy

In [55]:
PNoWeekday = (PWeekdayNo*Pno)/PWeekday
print (PNoWeekday)

0.18181818181818182

In [51]:
PYesWeekday = (PweekdayYes*Pyes)/PWeekday
print (PYesWeekday)

0.8181818181818183

In [56]:
# Probability (Buy | Weekday) > Dibanding dengan Probability (Nobuy | Weekday)
print (PNoWeekday)
print (PYesWeekday)

0.18181818181818182
0.8181818181818183

In [57]:
# Kondisi B dimana
# Day = Holiday
# Dicount = Yes
# Free Delivery = Yes
# A = Buy
# P(A|B) = P(Buy|DiscountYes, Free Delivery Yes, PDayHoliday)

In [58]:
pd.crosstab(data['Discount'], data['Purchase'])

Purchase  no  yes
Discount
no         5    5
yes        1   19

In [59]:
PNoDiscountNo = 5/6
PYesDiscountNo = 1/6

PNoDiscountYes = 5/24
PYesDiscountYes = 19/24

PNoDiscount = 10/30
PYesDiscount = 20/30

In [60]:
pd.crosstab(data['Free Delivery'], data['Purchase'])

Purchase       no  yes
Free Delivery
no              4    3
yes             2   21

In [64]:
PNoDeliveryNo =4/6
PYesDeliveryNo = 2/6

PNoDeliveryYes = 3/24
PYesDeliveryYes = 21/24

PNoDelivery = 7/30
PYesDelivery = 23/30

In [65]:
# Kondisi B dimana
# Day = Holiday
# Free Delivery = Yes
# P(A) = NoBuy = PNo
# P(B) = YesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PHoliday|No Buy) = PHolidayNo
# P(B|A)2 = (PYesDiscount|No Buy) = PYesDiscountNo
# P(B|A)3 = (PYesDelivery|No Buy) = PYesDeliveryNo
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

# Ditanya P(A|B) ?
# Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

In [72]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*Pno)/(PHoliday*PYesDiscount*PYesDelivery)
print (PNoBuy1)

0.029644268774703563

In [73]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = NoBuy = PYes
# P(B) = YesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PHoliday|No Buy) = PHolidayYes
# P(B|A)2 = (PYesDiscount|No Buy) = PYesDiscountYes
# P(B|A)3 = (PYesDelivery|No Buy) = PYesDeliveryYes
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

# Ditanya P(A|B) ?
# Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

In [77]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*Pyes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PBuy2)

0.9856719367588933

In [78]:
# Probability of No Purchase = 0.029644268774703563
# Probability of Purchase = 0.9856719367588933

In [80]:
PSum = PNoBuy1+PBuy2
print(PSum)

1.015316205533597

In [81]:
PBuy = (PBuy2/PSum)*100
print (PBuy)

97.08029197080292

In [82]:
PNoBuy = (PNoBuy1*PSum)*100
print (PNoBuy)

3.009830648815011